i {
  margin-top: 4px;
  margin-right: 5px;
  margin-left: 5px;
}

.amount {
  align-items: center;
  margin-right: 5px;
}

/* CARD SERVICES */

.card-services {
  max-width: 50%;
  @include mobile {
    max-width: 90%;
  }
}
